body{
    font-size: 16px;
    background: white;
    /* background: url(../img/stars2.jpg); */
    color: black;
    font-family: 'Poppins', sans-serif;
}

form {
    background-color:rgba(192,192,192,0.3);

    color: black;
    font-family: 'Poppins', sans-serif;

    width: 30%;
    
    margin: auto;
    margin-top: 11%;

    border-radius: 6px;
    border: none;
}

a{
    
    margin-left: 3%;
}

.calc-1 {
    background: #ff9966;
}

h1, p {
    margin: 0;
    margin-left: 36%;
}

h2 {
    margin: 0;
    margin-left: 29%;
}

input{
    
    width: 94%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 3%;
    
    border-radius: 4px;
    cursor: pointer;

    margin-bottom: 8px;
}

label {
    margin-left: 3%;
}

lb1{
    margin-left: 8%;
}

input[type=submit]:hover {
    background-color: #45a049;}